.weatherLocation {
  width: 700px;
  padding: 15px;
  font-family: "Rubik Mono One", sans-serif;
  box-shadow: 10px 10px 40px -12px black;
}
.location {
  width: 100px;
  height: 35px;
  text-align: left;
  padding-left: 10px;
}
.location h1 {
  margin: 0;
}
